mixin colorpallete(color, title, description)
  .color-pallete
    .color-pallete__sample(class="color-pallete__sample_"+color) 
    .color-pallete__content
      h2.color-pallete__title #{title}
      p.color-pallete__description #{description}