extends Layouts/uikit.layout.pug

block append head 
  title UI Kit

block content 
  h1 UI Kit Main page

  a(href="index.html") Back to project navigation 

  ul 
    li 
      a(href="uikit_colors_and_types.html") Colors and Type