// block color-swatch
.color-swatch {
    display: flex;
    width: 100%;
    max-width: 300px;
    padding: 10px;
    background-color: $color-white;
}

// sample element
.color-swatch__sample {
    width: 70px;
    height: 70px;
    left: 150px;
    background: #1F2041;
    border-radius: 6px;
    background-color: $color-dark-shade-5;
}

.color-swatch__sample_dark-shade-100 {
    background-color: $color-dark-shade-100;
}

.color-swatch__sample_dark-shade-75 {
    background-color: $color-dark-shade-75;
}

.color-swatch__sample_dark-shade-50 {
    background-color: $color-dark-shade-50;
}

.color-swatch__sample_dark-shade-25 {
    background-color: $color-dark-shade-25;
}

.color-swatch__sample_dark-shade-5 {
    background-color: $color-dark-shade-5;
}

.color-swatch__sample_primary {
    background-color: $color-primary;
}

.color-swatch__sample_secondary {
    background-color: $color-secondary;
}

// description element
.color-swatch__description {
    margin-left: 40px;
}