mixin colorswatch(type, title, subtitle)
    - const colorSwatchClass = `color-swatch__sample color-swatch__sample_${type}`
    .color-swatch
        div(class=colorSwatchClass)
        .color-swatch__description 
            h2 #{title}
            p #{subtitle}