extends layouts/base.pug
//- include components/logo/logo
//- include components/icon/icon

block title 
    title Main Page
    meta(name="keywords" content="")
    meta(name="description" content="content")

block main 
    .container 
        h1 My main page

        //- +logo
        //- +icon