$color-primary: #BC9CFF;
$color-secondary: #6FCF97;

$color-dark-shade: rgb(31, 32, 65);
$color-dark-shade-100: $color-dark-shade;
$color-dark-shade-75: rgba($color-dark-shade, 0.75);
$color-dark-shade-50: rgba($color-dark-shade, 0.50);
$color-dark-shade-25: rgba($color-dark-shade, 0.25);
$color-dark-shade-5: rgba($color-dark-shade, 0.05);

$color-white: #fff;